<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script type="text/javascript" src="/assets/plugins/jquery/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <link  rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">

    <!-- Favicon icon -->

    <script type="text/javascript" src="/assets/plugins/bootstrap/js/tether.min.js"></script>
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon.png">
    <title>Monster Admin Template - The Most Complete & Trusted Bootstrap 4 Admin Template</title>
    <!-- Bootstrap Core CSS -->

    <!-- Custom CSS -->
    <link href="/css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="/css/colors/blue.css" id="theme" rel="stylesheet">
    <!-- Bootstrap tether Core JavaScript -->
    <!-- slimscrollbar scrollbar JavaScript -->
    <script type="text/javascript" src="/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script type="text/javascript"src="/js/waves.js"></script>
    <!--Menu sidebar -->
    <script type="text/javascript"src="/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script type="text/javascript"src="/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script type="text/javascript"src="/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!-- Flot Charts JavaScript -->
    <script type="text/javascript"src="/assets/plugins/flot/jquery.flot.js"></script>
    <script type="text/javascript"src="/assets/plugins/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script type="text/javascript"src="/js/flot-data.js"></script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script type="text/javascript" src="/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
</head>
<script type="text/javascript">
    $(function () {
        $("#btn").click(function () {
            var mymessage=confirm("你确定要添加吗？");
            if(mymessage==true)
            {
                var targetUrl = $("#addForm").attr("action");
                var data = $("#addForm").serialize();
                $.ajax({
                    type:"post",
                    url:targetUrl,
                    async : true,
                    // cache: false,
                    data:data,  //重点必须为一个变量如：data
                    dataType:"text",
                    success:function(data){
                        if(data=="1"){
                            alert('添加成功');
                            window.location.href="/teacher/list";
                        }
                        else{
                            alert("添加失败,请联系管理员");
                        }
                    },
                    error:function(data){
                            alert("添加失败,请联系管理员");
                    }
                });
            }
            else if(mymessage==false)
            {

            }
        });

    });

</script>
<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div style="text-align:center;">
                <img src="/1.png" width="230px" height="75px">
            </div>
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li>
                            <a th:href="@{/student/list}" class="waves-effect"><i class="fa fa-user m-r-10" aria-hidden="true"></i>学生管理</a>
                        </li>
                        <li>
                            <a th:href="@{/teacher/list}" class="waves-effect"><i class="fa fa-user m-r-10" aria-hidden="true"></i>教师管理</a>
                        </li>
                        <li>
                            <a th:href="@{/timeTable/list}" class="waves-effect"><i class="fa fa-table m-r-10" aria-hidden="true"></i>上课记录</a>
                        </li>
                        <li>
                            <a th:href="@{/project/list}" class="waves-effect"><i class="fa fa-table m-r-10" aria-hidden="true"></i>科目管理</a>
                        </li>
                        <li>
                            <a th:href="@{/classes/list}" class="waves-effect"><i class="fa fa-table m-r-10" aria-hidden="true"></i>班级管理</a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">老师管理</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">老师信息添加页面</a></li>
                        </ol>
                    </div>
                </div>
                <form class="form-horizontal"  id="addForm" th:action="@{/teacher/add}">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">老师姓名</label>
                        <div class="col-sm-3">
                            <input type="text" name="tname" class="form-control" id="inputEmail3" placeholder="老师姓名"  >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">联系电话</label>
                        <div class="col-sm-3">
                            <input type="text"  name="tphone" class="form-control" id="inputPassword3" placeholder="联系电话"  >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">入职时间</label>
                        <div class="col-sm-3">
                            <input type="date" name="worktime" class="form-control" id="inputPassword3" placeholder="报名时间" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">学历</label>
                        <div class="col-sm-3">
                            <select class="form-control" name="teducation">
                                <option value="高中及以下" >
                                    高中及以下
                                </option>
                                <option value="专科" >
                                    专科
                                </option>
                                <option  value="本科" selected>
                                    本科
                                </option>
                                <option  value="研究生及以上">
                                    研究生及以上
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button id="btn" type="button" class="btn btn-default">增加</button>
                        </div>
                    </div>
                </form>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

</body>

</html>
